%a.inner(ng-click="showModal(idea)")
  %span.title {{ linkTitle }}
  .inner-content
    {{ idea.company }}
.modal.fade
  .modal-dialog
    .modal-content
      %form(name="ideaForm" ng-submit="ideaForm.$valid && saveIdea(idea)" novalidate)
        .modal-header
          %button(type="button" class="close" ng-click="hideModal()" aria-label="Close") &times;
          %h2 What is the MVP?
        .modal-body
          .form-group
            %input.form-control(type="text" ng-model="idea.company" placeholder="Name of Company")
          .form-group
            %input.form-control(type="url" ng-model="idea.mvp_url" placeholder="MVP Site URL")
          .form-group
            %select(ng-model="idea.mvp_stage")
              %option(value="" disabled selected) -- Select MVP Stage --
              %option Wireframe
              %option Alpha
              %option Beta
              %option Live Product
