%a(ng-click="showModal()") {{ linkTitle }}
.modal.fade
  .modal-dialog
    .modal-content
      %form(name="ideaForm" ng-submit="ideaForm.$valid && saveIdea(idea)" novalidate)
        .modal-header
          %button(type="button" class="close" ng-click="hideModal()" aria-label="Close") &times;
          %h4 What is the MVP?
        .modal-body
          .form-group
            %label Name of company
            %input.form-control(type="text" ng-model="idea.company" required)
          .form-group
            %label MVP Site URL
            %input.form-control(type="url" ng-model="idea.mvp_url")
          .form-group
            %label MVP Stage
            %select(ng-model="idea.mvp_stage")
              %option Wireframe
              %option Alpha
              %option Beta
              %option Live Product

        .modal-footer
          %a.btn.btn-warning(ng-click="hideModal()") Cancel
          %button.btn.btn-primary(type="Submit") Save
