%a.inner(ng-click="showModal(idea)")
  %span.title {{ linkTitle }}
  .inner-content
    %ul
      %li
        %em Why:
        {{ idea.pitch_why | limitTo:150 }}{{ idea.pitch_why.length > 150 ? '...' : ''}}
      %li
        %em How:
        {{ idea.pitch_how | limitTo:150 }}{{ idea.pitch_how.length > 150 ? '...' : ''}}
.modal.fade
  .modal-dialog
    .modal-content
      %form(name="ideaForm" novalidate)
        .modal-header
          %button(type="button" class="close" ng-click="hideModal()" aria-label="Close") &times;
          %h2 Elevator Pitch
        .modal-body
          .form-group
            %textarea.form-control(type="text" ng-model="idea.pitch_why" placeholder="Why are you creating this solution?")
          .form-group
            %textarea.form-control(rows="5" ng-model="idea.pitch_how" ng-maxlength="600" placeholder="How will it solve the problem?")
