%a(ng-click="showModal()") {{ linkTitle }}
.modal.fade
  .modal-dialog
    .modal-content
      %form(name="ideaForm" ng-submit="ideaForm.$valid && saveIdea(idea)" novalidate)
        .modal-header
          %button(type="button" class="close" ng-click="hideModal()" aria-label="Close") &times;
          %h4 &nbsp;
        .modal-body
          .form-group
            %label Who is your ideal customer?
            %input.form-control(type="text" ng-model="idea.target_customer" required)
            %span.help-block (e.g. Age, Sex, Income)
          .form-group
            %label Why are they your ideal customer? Why would they value your product?
            %textarea.form-control(rows="5" ng-model="idea.target_customer_reason" ng-maxlength="300" required)

        .modal-footer
          %a.btn.btn-warning(ng-click="hideModal()") Cancel
          %button.btn.btn-primary(type="Submit") Save
