.wrap
  .container
    .row
      .col-lg-12
        %h1
          .pull-right
            %input(bs-switch
              ng-model="idea.published"
              ng-if="idea.owner"
              type="checkbox"
              switch-size="medium"
              switch-on-text="Public"
              switch-off-text="Private"
            )
            %a.btn.btn-default(ng-href="{{ session.currentUser().plan.canExport ? '/ideas/' + idea.id + '.docx' : '/#/upgrade/export' }}" ng-show="idea.owner")
              %i.fa.fa-file-text-o
              Export
            //%a.btn.btn-default(ng-show="idea.owner" ng-href="{{ '/#/ideas/' + idea.id + '/users' }}") Share
            %a.btn.btn-default(ng-show="idea.owner" ng-href="{{ '/#/ideas/' + idea.id + '/financials' }}")
              %i.fa.fa-dollar
              Financials
            %a.btn.btn-default(ng-show="idea.owner" ng-click="delete()")
              %i.fa.fa-remove
              Delete

            %a.btn.btn-default(ng-show="session.isAuthenticated() && !idea.voted" ng-click="vote()")
              %i.fa.fa-heart-o
              %sl-vote-count(ng-model="idea")
            %a.btn.btn-info(ng-show="session.isAuthenticated() && idea.voted" ng-click="unvote()")
              %i.fa.fa-heart
              %sl-vote-count(ng-model="idea")
            %a.btn.btn-default(ng-show="!session.isAuthenticated()" ng-href="{{ '/#/sign-in?vote=1&origin=/ideas/' + idea.id }}")
              %i.fa.fa-heart-o
              %sl-vote-count(ng-model="idea")

          {{ idea.name }}
    %section.row
      .col-lg-12
        .grid
          .grid-sizer
          .grid-item.grid-item--height-norm.grid-item--problem
            %sl-idea-panel(ng-model="idea" link-title="Problem" template-url="ideas/forms/problem.html")

          .grid-item.grid-item--height-norm.grid-item--idea.inverted
            %sl-idea-panel(ng-model="idea" link-title="Idea" template-url="ideas/forms/idea.html")

          .grid-item.grid-item--height-norm.grid-item--mvp.inverted
            %sl-idea-panel(ng-model="idea" link-title="MVP" template-url="ideas/forms/mvp.html")

          .grid-item.grid-item--height-half.grid-item--target
            %sl-idea-panel(ng-model="idea" link-title="Target Market" template-url="ideas/forms/target_market.html")

          .grid-item.grid-item--height-double.grid-item--costs
            %sl-idea-panel(ng-model="idea" link-title="Costs" template-url="ideas/forms/costs.html")


          .grid-item.grid-item--height-double.grid-item--revenue
            %sl-idea-panel(ng-model="idea" link-title="Business Mod-Rev" template-url="ideas/forms/revenue.html")


          .grid-item.grid-item--height-half.grid-item--channels
            %sl-channels(ng-model="idea" link-title="Channels")

          .grid-item.grid-item--height-med.grid-item--width2.grid-item--founders.inverted
            %sl-founders(ng-model="idea" link-title="Founders")

          .grid-item.grid-item--height-med.grid-item--width2.grid-item--social.inverted
            %sl-idea-panel(ng-model="idea" link-title="Social Media" template-url="ideas/forms/social-media.html")

          .grid-item.grid-item--width3.grid-item--height-norm.grid-item--crowdfunding
            %sl-funding-options(ng-model="idea" link-title="Funding Options")

          .grid-item.grid-item--width3.grid-item--height-norm.grid-item--timing
            %sl-idea-panel(ng-model="idea" link-title="Timing" template-url="ideas/forms/timing.html")

          .grid-item.grid-item--width6.grid-item--height-norm.grid-item--pitch.inverted
            %sl-idea-panel(ng-model="idea" link-title="Elevator Pitch" template-url="ideas/forms/pitch.html")

    %section#submitted-by.row
      .body.col-lg-12
        %h3 Submitted by

        %img(ng-src="{{ idea.user.gravatarUrl }}")

        %p {{ idea.user.name }}

.comments-wrap
  .container
    %section#comment-form
      %header.row
        .col-lg-12
          %h3
            .pull-right(ng-hide="session.isAuthenticated()")
              %a.btn.btn-info#sign-in(href="/#/sign-in") Sign in to comment
            Comments
      .row.body
        %form#comments-form.form-inline(ng-show="session.isAuthenticated()" name="commentForm" ng-controller="CommentsController as comment" ng-submit="commentForm.$valid && addComment(idea)" novalidate)
          .col-lg-12
            .form-group
              %textarea(ng-model="comment.body" placeholder="What do you think?" required)
          .submit.col-lg-12
            .pull-right
              %button.btn.btn-default(type="submit" ng-disabled="commentForm.$invalid") Comment
            .clearfix

    %section#comments.row
      %article.col-lg-12.comment(ng-repeat="comment in idea.comments")
        %img(ng-src="{{ comment.user.gravatarUrl }}")
        %h2 {{ comment.user.name }}
        %p {{ comment.body }}

