.wrap
  .container

    %section
      .col-sm-6.col-sm-offset-3
        %h3.sl-centered
          Something went wrong
        %p.sl-centered
          Sorry, an unexpected error has occurred. Please try again later, and contact us at
          %a(href='mailto:contact@singlepartners.io')
            contact@singlepartners.io
          if this error persists.
        %p.sl-centered
          %a.btn.btn-info.btn-lg(href='/')
            Return home
