.wrap
  .container

    %section
      .col-sm-6.col-sm-offset-3
        %h3.sl-centered
          Permission denied
        %p.sl-centered
          Sorry, you don't have permission to access that page.
        %p.sl-centered
          %a.btn.btn-info.btn-lg(href='/')
            Return home
