.wrap
  .container-fluid.sl-home-container

    %section.sl-home-section.sl-building
      .col-sm-8.col-sm-offset-2
        %h2
          We believe that when entrepreneurs are empowered
          %br
          they can build amazing companies,&nbsp;
          %b> fast
          \.

    %section.sl-home-section.sl-ecosystem
      .col-sm-8.col-sm-offset-2
        %h2
          Our
          %b user-friendly &amp; agile
          platform enables
          %br
          entrepreneurs to build those very companies
        = image_tag 'pages/home/ideas.png', alt: 'Ideas', class: 'img-responsive'

    %section.sl-home-section.sl-start
      .col-sm-8.col-sm-offset-2
        %h2
          It just so happens that you could build too...
          %br
          you just have to
          %a(ng-click="scrollTo('register')")
            %b.sl-underline start

        .row
          .col-lg-4.sl-feature-list
            %h3
              Features
            %ul
              %li Quickly test an idea
              %li Build out your plan
              %li Understand your financials
              %li Gather team or network feedback
              %li Much more...
          .col-lg-8.sl-feature-graphic
            = image_tag 'pages/home/features.png', alt: 'Features', class: 'img-responsive'


    %section.sl-home-section.sl-login(ng-if="!session.isAuthenticated()")
      %a(name="register")
      %sl-login

    %section.sl-home-section.sl-browse-ideas(ng-if="session.isAuthenticated()")
      .col-sm-8.col-sm-offset-2
        %a.btn.btn-success.btn-lg(href="/#/ideas") Browse Ideas
