.wrap
  .container-fluid.sl-home-container

    %section.sl-home-section.sl-building
      .col-sm-8.col-sm-offset-2
        %h2
          We&nbsp;
          %b> empower&nbsp;
          entrepreneurs to help them&nbsp;
          %br
          build amazing companies,&nbsp;
          %b> fast
          \.

    %section.sl-home-section.sl-ecosystem
      .col-sm-8.col-sm-offset-2
        %h2
          A platform to help you build your business,
          %br
          with&nbsp;
          %b> integration for the 21
          .sl-super st
          %b> &nbsp;century
          \.

    %section.sl-home-section.sl-start
      .col-sm-8.col-sm-offset-2
        %h2
          It just so happens that you could build too...
          %br
          you just have to
          %a(ng-click="scrollTo('create')")
            %b.sl-underline start.

        .row.sl-center-contents
          .col-lg-4.sl-feature-list
            %ul
              %li(ng-repeat="feature in features" data-ng-click="selectFeature($index)" ng-class="featureClass($index)") {{ feature.title }}
          .col-lg-8.sl-feature-graphic
            %img(ng-src="{{ selectedFeature().imageUri }}" alt="{{  selectedFeature().altText }}"
            class="img-responsive")


    %section.sl-home-section.sl-create-idea(ng-if="!session.isAuthenticated()")
      .col-sm-8.col-sm-offset-2
        %a.btn.btn-success.btn-lg(name="create" href="/#/ideas/new") Create an Idea

    %section.sl-home-section.sl-browse-ideas(ng-if="session.isAuthenticated()")
      .col-sm-8.col-sm-offset-2
        %a.btn.btn-success.btn-lg(href="/#/ideas") Browse Ideas
