.wrap
  .container

    %section
      .col-sm-6.col-sm-offset-3
        %h3
          Sorry, something went wrong
        %p
          We were unable to process your payment at this time. Please try again later, and contact us if this problem persists.
        %p
          %i {{ flashError }}

        %p.sl-centered
          %a.btn.btn-info.btn-lg(href="/")
            Home