.wrap
  .container

    %section
      .col-sm-6.col-sm-offset-3
        %h3
          Sorry, you need to upgrade to use financial features
        %p
          You are on the
          %i {{ session.currentUser().plan.name }}
          plan, which does not allow access to our financial planning tools.
          To gain access, you will need to upgrade your account.
          Click the button below to select a higher plan.
        %p.sl-centered
          %a.btn.btn-info.btn-lg(href="/#/pricing")
            Upgrade your account