# Generated
vendor/assets/bower_components
vendor/assets/bower.json

# Cache
tmp/

# Development
/config/app/development.rb
/vendor/gems/htmltoword/
/.env

# Testing
/spec/examples.txt

# Miscellaneous
.DS_Store
