# Generated
vendor/assets/bower_components
vendor/assets/bower.json
node_modules/
bower_components/

# Cache
tmp/

# Development
/config/app/development.rb
/vendor/gems/htmltoword/
/.env

# Testing
/spec/examples.txt

# Miscellaneous
.DS_Store
