<div class='wrap'>
  <div class='container'>
    <section>
      <h1>Startup Lab – Disclaimers</h1>
      
      <ol>
      <li>Startup Lab is owned and operated by Single Partners Pty Ltd ACN 608 278 593 (Company). Your use of Startup Lab is subject to these disclaimers.</li>
      <li>You acknowledge that by using Startup Lab, accessing any information, video, images and/or business ideas (Content) or making any Content available on Startup Lab, that you do so at your own risk.</li>
      <li>By making Content available via Startup Lab you warrant that:
      
      <ol>
      <li>You have authority to provide Startup Lab with the Content;</li>
      <li>You grant the Company a perpetual, royalty free, worldwide licence to use the Content; and</li>
      <li>You indemnify the Company for any consequences of providing that Content;</li>
      </ol></li>
      <li>The Company will not be responsible for any Content you make available via Startup Lab whatsoever, including in relation (but not limited) to:
      
      <ol>
      <li>Any visitor to Startup Lab infringing your intellectual property; and</li>
      <li>Any infringement of a third party’s intellectual property that you commit;</li>
      <li>Any factually incorrect claim.</li>
      </ol></li>
      <li>The Company makes no representation or warranty that:
      
      <ol>
      <li>Startup Lab will be accessible on an ongoing basis, or at any particular time;</li>
      <li>The Content made available via Startup Lab is the intellectual property of the user that provided it.</li>
      <li>Any information provided by a user via Startup Lab is factually accurate.</li>
      </ol></li>
      <li>Your use of Startup Lab is subject to the Company’s discretion. The Company may restrict your access to Startup Lab at its sole discretion.</li>
      <li>The Company shall only use the personal information that you provide to the Company via Startup Lab, for the purpose that you provided it for (e.g. for creating and maintaining a user account).</li>
      <li>The Company shall not disclose any personal information to any third party without your consent.</li>
      </ol>
    </section>
  </div>
</div>
