%a.inner(ng-click="showModal(idea)")
  %span.title {{ linkTitle }}
  .content
    {{ channelStr(idea.channels) | limitTo:40 }}{{ channelStr(idea.channels).length > 40 ? '...' : ''}}
.modal.fade
  .modal-dialog
    .modal-content
      %form(name="ideaForm" novalidate)
        .modal-header
          %button(type="button" class="close" ng-click="hideModal()" aria-label="Close") &times;
          %h2 Channels
        .modal-body
          .form-group
            - Channel.all.each do |channel|
              .checkbox
                %label
                  %input(name="channels[]" type="checkbox" value="#{channel.name}" ng-checked="channels.indexOf('#{channel.name}') > -1" ng-click="toggleSelection('#{channel.name}')")= channel.name
