.row
  .col-lg-12
    %h1 All Ideas
  
.row
  .col-lg-6(ng-repeat='idea in ideas')
    %article.idea
      %a(ng-href="#ideas/{{ idea.id }}")
        = image_tag('idea-diagram.jpg')
      .caption
        %h3
          %a(ng-href="#ideas/{{ idea.id }}") {{ idea.name }}
        %p {{ idea.idea | limitTo:80 }}{{ idea.idea.length > 80 ? '...' : ''}}

