<a class='inner' ng-click='showModal()'>
  <span class='title'>{{ linkTitle }}</span>
  <div class='founders'>
    <img ng-repeat='founder in idea.founders' ng-src="{{ founder.user.gravatarUrl + '?size=52' }}">
  </div>
</a>
<div class='modal fade' id='md-idea-founders'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h2>Founders</h2>
      </div>
      <div class='modal-body'>
        <ul>
          <li ng-repeat='founder in idea.founders'>
            <sl-founder idea='idea' ng-model='founder'></sl-founder>
          </li>
          <li ng-show='idea.canEdit'>
            <div class='founder invite'>
              <input class='form-control' ng-model='invite.email' placeholder='Email' type='email'>
              <input class='form-control' ng-model='invite.role' placeholder='Role' type='text'>
              <btn class='btn btn-default btn-sm' ng-click='inviteFounder()'>Invite</btn>
            </div>
          </li>
        </ul>
        <div class='clearfix'></div>
      </div>
    </div>
  </div>
</div>
