.wrap
  .container
    .row
      .col-lg-12
        %h1
          .pull-right
            %a.btn.btn-default(ng-show="idea.owner" ng-href="{{ '/#/ideas/' + idea.id }}")
              %i.fa.fa-chevron-left
              Back

          {{ idea.name }}

    %section.row
      .col-lg-12
        .grid.sl-grid-financials
          .grid-sizer
          .grid-item.grid-item--height-double.grid-item--assets.inverted
            %sl-idea-panel(ng-model="idea" link-title="Assets" template-url="ideas/forms/problem.html")

          .grid-item.grid-item--height-double.grid-item--liabilities
            %sl-idea-panel(ng-model="idea" link-title="Liabilities" template-url="ideas/forms/problem.html")

          .grid-item.grid-item--height-norm.grid-item--capital.inverted
            %sl-idea-panel(ng-model="idea" link-title="Founders Capital" template-url="ideas/forms/problem.html")

          .grid-item.grid-item--height-norm.grid-item--inflows
            %sl-idea-panel(ng-model="idea" link-title="Cash Inflows" template-url="ideas/forms/problem.html")

          .grid-item.grid-item--height-norm.grid-item--metrics.inverted
            %sl-idea-panel(ng-model="idea" link-title="Metrics" template-url="ideas/forms/problem.html")

          .grid-item.grid-item--height-norm.grid-item--outflows.inverted
            %sl-idea-panel(ng-model="idea" link-title="Cash Outflows" template-url="ideas/forms/problem.html")