<div class='wrap'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <h1>New Idea</h1>
      </div>
      <div class='col-lg-6'>
        <form name='ideaForm' ng-submit='ideaForm.$valid &amp;&amp; submit()' novalidate>
          <div class='form-group'>
            <label>Name</label>
            <input class='form-control' ng-maxlength='40' ng-model='idea.name' required size='40' type='text'>
            <p class='help-block'>Max 40 Chars</p>
          </div>
          <button class='btn btn-primary' ng-disabled='!ideaForm.$valid' type='Submit'>Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
