# See: https://github.com/mperham/sidekiq/blob/master/examples/config.yml
---
:verbose: false
:concurrency: 5
staging:
  :concurrency: 5
production:
  :concurrency: 5
# Set timeout to 8 on Heroku, longer if you manage your own systems.
:timeout: 8
:queues:
  - default
  - rollbar