<!-- TODO: Install https://rubygems.org/gems/angular-rails -->
%form.form-inline(name="problemsForm" ng-controller="ProblemController as problemCtrl" ng-submit="problemCtrl.addProblem()")
  %ul
    %li(ng-repeat="problem in problemCtrl.problems")
      {{ problem.description }} {{ $index }}
      %a{href: '#', 'ng-click' => 'problemCtrl.removeProblem($index)'} X

  .form-group
    %label Description
    %input.form-control(type="text" ng-model="problemCtrl.problem.name")

  %button.btn.btn-default(type="Submit") Add
