<a class='inner' ng-click='showModal(idea)'>
  <span class='title'>{{ linkTitle }}</span>
  <div class='inner-content'>{{ idea.target_customer | limitTo:15 }}{{ idea.target_customer.length > 15 ? '...' : ''}}</div>
</a>
<div class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button aria-label='Close' class='close' ng-click='hideModal()' type='button'>&times;</button>
        <h2>Target Market</h2>
      </div>
      <div class='modal-body'>
        <form name='ideaForm' ng-show='idea.canEdit' ng-submit='ideaForm.$valid &amp;&amp; saveIdea(idea)' novalidate>
          <div class='form-group'>
            <input class='form-control' ng-model='idea.target_customer' placeholder='Who is your ideal customer?' type='text'>
            <span class='help-block'>(e.g. Age, Sex, Income)</span>
          </div>
          <div class='form-group'>
            <textarea class='form-control' ng-maxlength='300' ng-model='idea.target_customer_reason' placeholder='Why are they your ideal customer? Why would they value your product?' rows='5'></textarea>
          </div>
        </form>
        <div class='content' ng-show='!idea.canEdit'>
          <p>{{ idea.target_customer }}</p>
          <p>{{ idea.target_customer_reason }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
