$red: rgb(237, 109, 113);
$grey-med: rgb(204, 204, 204);
$grey-dark: rgb(89, 89, 89);
$white: rgb(244, 244, 244);
$full-white: rgb(255, 255, 255);
$btn-hover: #ffdcb6;
$comments-wrap: #f4f3f3;

$canvas-social: #ffdcb6;
$canvas-pitch: #f4f3f3;

$valid-ok: #337ab7;
$valid-error: $red;

$modal-inverted: #a7aeb6;
