@import 'colors';

.btn {
  border-radius: 0;

  &[disabled] {
    background: $grey-med;
    border: none;

    &:hover {
      background: $grey-med;
    }
  }

  &:hover {
    background-color: $btn-hover; 
    color: $grey-dark;
    border: none;
  }
}

.btn-primary {
  background: $grey-dark;
  border-color: $grey-dark;
}
