@import 'colors';

.btn {
  border-radius: 0;

  &[disabled] {
    background: $grey-med;
    border: 1px solid $grey-med;

    &:hover {
      background: $grey-med;
    }
  }

  &:hover {
    background-color: $btn-hover;
    color: $grey-dark;
    border: 1px solid $btn-hover;
  }
}

.btn-primary {
  background: $grey-dark;
  border-color: $grey-dark;
}

.btn-info {
  background: $red;
  border-color: $red;
}
