@import 'colors';

.sl-grid-financials.grid {
  $canvas-width:   1140px;
  $modal-inverted: #867877;
  $item-width:     285px;

  td {
    font-weight: normal;
  }

  .grid-item.inverted {
    p, input, textarea, label, h2, a {
      color: $modal-inverted;
    }
  }

  .grid-item,
  .grid-sizer {
    overflow: hidden;
    width:    $item-width;
  }

  .grid-item--height-norm   { height: 292px; }
  .grid-item--height-double { height: 584px; }

  .grid-item--assets,       .grid-item--assets      .modal-content  { background-color: #c1c1c1; }
  .grid-item--liabilities,  .grid-item--liabilities .modal-content  { background-color: #867877; }
  .grid-item--capital,      .grid-item--capital     .modal-content  { background-color: #ace2c4; }
  .grid-item--inflows,      .grid-item--inflows     .modal-content  { background-color: #9aa9ac; }
  .grid-item--metrics,      .grid-item--metrics     .modal-content  { background-color: #dee6e8; }
  .grid-item--outflows,     .grid-item--outflows    .modal-content  { background-color: #e6db97; }

}

.sl-financial-entries {
  table {
    width: 100%;
  }
  td.sl-entry-name {
     text-align: left;
  }
  td.sl-entry-value {
     text-align: right;
  }
}

.modal {
  .sl-entry-name-label,
  .sl-entry-value-label,
  .sl-entry-name,
  .sl-entry-value,
  .sl-entry-destroy {
    float: left;
  }
  .sl-entry-name-label,
  .sl-entry-name {
    width: 65%;
  }
  .sl-entry-value-label,
  .sl-entry-value {
    width: 25%;
  }
  .sl-entry-destroy {
    cursor: pointer;
    width:  8%;

    i.fa {
      font-size:   16px;
      margin:      8px 0 0 8px;
    }
  }

  .sl-entry-create button[type="submit"] {
    float:  right;
    margin: 8px 57px 0 0;
  }
}