
@import 'colors';

/* ---- grid (lean model canvas) ---- */

.grid {
  width: 1170px;
  //margin: 0 auto;

  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .element-item ---- */

  .grid-item {
    float: left;

    a {
      color: #fff;
      text-decoration: none;

      &.inverted {
        color: #a7aeb6;
      }

      &.inner {
        padding: 8px;
        width: 100%;
        height: 100%;
        display: block;

        span.title {
          font-size: 0.9em;
        }

        .inner-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 80%;
          font-size: 1.1em;

          em {
            font-style: italic;
          }

          ul {
            list-style: square asset-path('tick.png') !important;

            li {
              margin-bottom: 15px;
            list-style: square asset-path('tick.png') !important;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        
        .founders {
          margin-top: 5px;

          img {
            padding: 1px;
            margin: 0;
          }
        }
      }
    }

    .modal {
      input, textarea, label, h2 {
        color: #fff;
      }

      .modal-body {
        ::-webkit-input-placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
        :-moz-placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
        ::-moz-placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
        :-ms-input-placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }

      .modal-footer {
        button, a {
          background: #fff;
          border: none;
          text-decoration: none;
          border-radius: 0;
          color: #333;

          &:hover {
            background: #333;
            color: #fff;
          }
        }
      }
    }

    &.inverted {
      a {
        color: #a7aeb6;
      }

      .modal {
        .modal-body {
          ::-webkit-input-placeholder {
            color: rgba(167, 174, 182, 0.9);
          }
          :-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
          ::-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
          :-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
          }
        }

        input, textarea, label, h2 {
          color: #a7aeb6;
        }
      }
    }

    &:hover {
      background: #ed6d71;

      a {
        text-decoration: underline;
        color: #fff;
      }
    }
  }

  $item-width: 191px;

  /* 5 columns, percentage width */
  .grid-item,
  .grid-sizer               { width: $item-width; border: none; } //182

  .grid-item--width2        { width: $item-width * 2; }
  .grid-item--width3        { width: $item-width * 3; }
  .grid-item--width6        { width: $item-width * 6; }
  .grid-item--height-norm   { height: 192px; }
  .grid-item--height-half   { height: 96px; }
  .grid-item--height-med    { height: 125px; }
  .grid-item--height-double { height: 317px; }

  .grid-item--problem,      .grid-item--problem .modal-content      { background-color: #867877; }
  .grid-item--idea,         .grid-item--idea .modal-content         { background-color: #e0ffff; }
  .grid-item--mvp ,         .grid-item--mvp .modal-content          { background-color: #dee6e8; }
  .grid-item--target,       .grid-item--target .modal-content       { background-color: #b3b3b3; }
  .grid-item--channels,     .grid-item--channels .modal-content     { background-color: #d9d2bf; }
  .grid-item--costs,        .grid-item--costs .modal-content        { background-color: #9aa9ac; }
  .grid-item--revenue,      .grid-item--revenue .modal-content      { background-color: #5d5d5d; }
  .grid-item--founders,     .grid-item--founders .modal-content     { background-color: #dee6e8; }
  .grid-item--crowdfunding, .grid-item--crowdfunding .modal-content { background-color: #b3b3b3; }
  .grid-item--social,       .grid-item--social .modal-content       { background-color: $canvas-social }
  .grid-item--timing,       .grid-item--timing .modal-content       { background-color: #9a9191; }
  .grid-item--pitch,        .grid-item--pitch .modal-content        { background-color: $canvas-pitch; }
}
