@import 'colors';

section#sign-in {
  .sign-in, .register {
    padding: 50px 40px 150px 40px;
    margin-top: 30px;

    h1 {
      margin-bottom: 30px;
      height: 100px;
    }
  }

  .sign-in {
    background: $grey-med;
    h1 {
      color: $white;
    }
  }

  .register {
    h1 {
      color: $grey-dark;
    }
  }


}

/* Globally remove the radius */
input, textarea {
    border-radius: 0;
    border-radius: 0px !important;

}

input[type="number"] {
  padding-bottom: 1px;
  padding-top:    1px;
}
