@import 'colors';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: quicksand, sans-serif;
}

h1, h2, h3 {
  color: $red;
  font-weight: bold;

  a {
    color: $red;

    &:hover {
      color: $red;
    }
  }
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
}

p {
  color: $grey-dark;
}

.header_wrap {
  height: 92px;
  background: $grey-med;
  width: 100%;

  .navbar {
    background: none;
    border: none;
    .header {
      float: left;
      margin-top: 45px;
      a {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }

    ul.nav {
      margin-right: 0px;
      background: $grey-dark;
      padding: 8px;

      li {
        color: $white;
        border: none;
        border-radius: 0;

        &.open a {
          background: $grey-dark;
        }

        ul.dropdown-menu {
          background: $grey-dark;
        }

        a {
          color: $white;

          &:hover {
            color: $full-white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.banner_wrap {
  background: $red;
  height: 140px;

  .nav {
    height: 140px;

    li {
      margin-right: 30px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      &.logo {
        margin-top: 20px;
      }

      &.step {
        width: 70px;
      }

      h1, h2 {
        a {
          color: $white;
          line-height: 100px;
        }
      }
    }
  }
}

// Footer positioning

$footer-height: 92px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  background: $grey-med;
  height: $footer-height;
  width: 100%;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    .link {
      padding: 2rem;
      color: $white;
      &.right {
        margin-left: auto;
      }
      a {
        color: $white;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
