$alt-color: #88999b;

.sl-home-container {
  padding: 0;
}

.sl-home-section {
  overflow: hidden;

  h2 {
    font-size:   36px;
    font-weight: normal;
    line-height: 46px;
    text-align:  center;
  }
}

.sl-home-section.sl-building {
  padding: 250px 0;

  h2 {
    color: $alt-color;
  }
}

.sl-home-section.sl-ecosystem {
  background-color: $alt-color;
  padding:          150px 0;

  h2 {
    color: #fff;
  }

  img {
    display: block;
    margin:  80px auto 0 auto;
  }
}


.sl-home-section.sl-start {
  padding: 150px 0;

  .sl-feature-list {
    color: $alt-color;

    h3 {
      color: $alt-color;
    }

    ul {
      font-weight: normal;
      font-size: 20px;
    }
  }

  .sl-feature-graphic {
    padding:    0;

    img {
      display: block;
      margin:  0 auto 0 auto;
    }
  }
}

.sl-home-section.sl-login {
  margin-bottom: 150px;

  section#sign-in {
    background-color: #ed6d71;

    h1 {
      color:         #fff;
      margin-bottom: 10px;
    }

    .sign-in {
      background-color: transparent;
      padding-top:      0;
    }

    .register {
      padding-bottom: 40px;
      padding-top:    0;
    }
  }
}

.sl-home-section.sl-browse-ideas {
  margin-bottom: 150px;
  text-align: center;

  .btn {
    font-size: 32px;
  }
}


@media only screen and (min-width : 1200px) {
  .sl-home-section.sl-start .sl-feature-list {
    margin-top: 150px;
  }
}

@media only screen and (max-width : 1199px) {
  .sl-home-section h2 br {
    display: none;
  }
}