// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.version.view_idea {
  color: #000002;
  background-color: #339DE3;
}

.html {
  background-color: #FFFFFF;
}

#page {
  z-index: 1;
  width: 960px;
  min-height: 500px;
  background-image: none;
  border-style: none;
  border-color: #000000;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

#page_position_content {
  margin-top: -36px;
  padding-bottom: 62px;
  width: 0.01px;
}

#pu401 {
  width: 0.01px;
  margin-left: -100px;
}

#u401 {
  z-index: 2;
  min-height: 57px;
  background-color: #CCCCCC;
  padding-bottom: 22px;
}

#u417-4 {
  z-index: 3;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 34px;
  left: 53px;
}

#u404 {
  z-index: 22;
  width: 285px;
  background-color: #595959;
  padding-bottom: 23px;
  position: relative;
  margin-right: -10000px;
  left: 875px;
}

#u408-4 {
  z-index: 23;
  width: 93px;
  min-height: 14px;
  background-color: transparent;
  color: #F4F4F4;
  font-size: 11px;
  line-height: 13px;
  position: relative;
  margin-right: -10000px;
  margin-top: 20px;
  left: 24px;
}

#u411 {
  z-index: 27;
  width: 19px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 12px;
  left: 245px;
}

#u411_clip {
  overflow: hidden;
  width: 19px;
  height: 14px;
}

#u411_img {
  margin: -1px 2px 1px;
}

#u401-bw {
  z-index: 2;
  min-height: 57px;
}

#u414 {
  z-index: 7;
  min-height: 79px;
  background-color: #ED6D71;
  padding-bottom: 43px;
}

#u401_align_to_page, #u414_align_to_page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  left: -100px;
}

#u410-4 {
  z-index: 8;
  width: 185px;
  min-height: 37px;
  background-color: transparent;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 27px;
  line-height: 32px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 41px;
  left: 54px;
}

#u416-4 {
  z-index: 16;
  width: 208px;
  min-height: 30px;
  background-color: transparent;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 19px;
  line-height: 23px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 49px;
  left: 411px;
}

#u407-4 {
  z-index: 12;
  width: 136px;
  min-height: 29px;
  background-color: transparent;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 19px;
  line-height: 23px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 49px;
  left: 662px;
}

#u414-bw {
  z-index: 7;
  min-height: 79px;
  margin-top: 79px;
}

#u402 {
  z-index: 20;
  width: 66px;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
  margin-right: -10000px;
  margin-top: 95px;
  left: 238px;
  .clip_frame {
    -webkit-border-radius: 8px 8px 8px 8px;
  }
}

#u402_img {
  padding: 2px 15px 1px 4px;
}

#u405 {
  z-index: 29;
  width: 84px;
  background-color: #595959;
  position: relative;
  margin-right: -10000px;
  margin-top: 36px;
  left: 1042px;
  padding: 12px 8px 17px 26px;
}

#u409-4 {
  z-index: 30;
  width: 84px;
  min-height: 16px;
  background-color: transparent;
  color: #F4F4F4;
  font-size: 11px;
  line-height: 13px;
  position: relative;
}

#u413-4 {
  z-index: 34;
  width: 84px;
  min-height: 16px;
  background-color: transparent;
  color: #F4F4F4;
  font-size: 11px;
  line-height: 13px;
  margin-top: 23px;
  position: relative;
}

#u645-4 {
  z-index: 81;
  background-color: transparent;
  color: #ED6D71;
  font-size: 21px;
  line-height: 25px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  width: 500px;
  left: -44px;
  margin-top: 44px;
  position: relative;
}

#pu630 {
  width: 0.01px;
  margin-left: -47px;
  margin-top: 32px;
}

#u630 {
  z-index: 38;
  width: 1072px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}

#u631 {
  z-index: 39;
  width: 1072px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}

#u634-4 {
  z-index: 41;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 69px;
  left: 31px;
}

#u641-4 {
  z-index: 45;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 82px;
  left: 796px;
}

#u643-4 {
  z-index: 49;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 130px;
  left: 956px;
}

#u644-4 {
  z-index: 53;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 17px;
  left: 646px;
}

#u635-4 {
  z-index: 57;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 69px;
  left: 217px;
}

#u636-4 {
  z-index: 61;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 69px;
  left: 391px;
}

#u637-4 {
  z-index: 65;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 231px;
  left: 31px;
}

#u639-4 {
  z-index: 69;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 231px;
  left: 683px;
}

#u640-4 {
  z-index: 73;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 103px;
  left: 589px;
}

#u638-4 {
  z-index: 77;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 231px;
  left: 291px;
}

#u646-4 {
  z-index: 85;
  width: 127px;
  min-height: 25px;
  background-color: transparent;
  color: #ED6D71;
  font-size: 17px;
  line-height: 20px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  left: -39px;
  margin-top: 51px;
  position: relative;
}

#pu647 {
  width: 0.01px;
  margin-left: -39px;
  margin-top: 10px;
}

#u647 {
  z-index: 93;
  width: 65px;
  height: 62px;
  background-color: #CCCCCC;
  position: relative;
  margin-right: -10000px;
}

#u648-4 {
  z-index: 94;
  width: 141px;
  min-height: 25px;
  background-color: transparent;
  color: #867878;
  font-size: 16px;
  line-height: 19px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 19px;
  left: 91px;
}

#u657 {
  z-index: 99;
  width: 41px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 37px;
  left: 868px;
}

#u657_img {
  padding-top: 1px;
}

#u663-4 {
  z-index: 101;
  width: 131px;
  min-height: 31px;
  background-color: transparent;
  color: #CCCCCC;
  font-size: 22px;
  line-height: 26px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 43px;
  left: 922px;
}

#u650 {
  z-index: 98;
  width: 1064px;
  height: 3px;
  background-color: #B3B3B3;
  left: -39px;
  margin-top: 34px;
  position: relative;
}

#u649-4 {
  z-index: 89;
  width: 107px;
  min-height: 25px;
  background-color: transparent;
  color: #ED6D71;
  font-size: 17px;
  line-height: 20px;
  font-family: quicksand, sans-serif;
  font-weight: 700;
  left: -39px;
  margin-top: 13px;
  position: relative;
}

body {
  position: relative;
  min-width: 960px;
  padding-top: 36px;
  padding-bottom: 36px;
}

#page .verticalspacer {
  clear: both;
}
