@import 'colors';

article.user_idea {
  padding: 0 0 30px 100px;
  margin-left: 18px;
  position: relative;
  min-height: 80px;
  margin-bottom: 15px;
  border-bottom: dashed $grey-med 1px;

  &:last-child {
    border-bottom: none;
  }

  p {
    color: #867878;
    font-weight: 300;
  }

  img {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.user_idea.actions {
  padding-left: 0;

  input {
    margin-bottom: 10px;
    max-width:     250px;
  }
}