%a.inner(ng-click="showModal(idea)")
  %span.title {{ linkTitle }}
  .inner-content {{ idea.idea | limitTo:80 }}{{ idea.idea.length > 80 ? '...' : ''}}
.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button(type="button" class="close" ng-click="hideModal()" aria-label="Close") &times;
        %h2 Idea
      .modal-body
        %form(ng-show="idea.canEdit" name="ideaForm" ng-submit="ideaForm.$valid && saveIdea(idea)" novalidate)
          .form-group
            %textarea.form-control(rows="5" ng-model="idea.idea" ng-maxlength="300" placeholder="What is your idea?")
        .content(ng-show="!idea.canEdit")
          %p {{ idea.idea }}
