<a class='inner' ng-click='showModal(idea)'>
  <span class='title'>{{ linkTitle }}</span>
  <div class='inner-content'>
    {{ optionStr(idea.fundingOptions) | limitTo:40 }}{{ optionStr(idea.fundingOptions).length > 40 ? '...' : ''}}
  </div>
</a>
<div class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button aria-label='Close' class='close' ng-click='hideModal()' type='button'>&times;</button>
        <h2>Funding Options</h2>
      </div>
      <div class='modal-body'>
        <form name='ideaForm' ng-show='idea.canEdit' novalidate>
          <div class='form-group'>
            <div class='checkbox'>
              <label>
                <input name='options[]' ng-checked="checked('Kickstarter') &gt; -1" ng-click="toggleSelection('Kickstarter')" type='checkbox' value='Kickstarter'>Kickstarter</input>
              </label>
            </div>
            <div class='checkbox'>
              <label>
                <input name='options[]' ng-checked="checked('Venture Capital') &gt; -1" ng-click="toggleSelection('Venture Capital')" type='checkbox' value='Venture Capital'>Venture Capital</input>
              </label>
            </div>
            <div class='checkbox'>
              <label>
                <input name='options[]' ng-checked="checked('Bootstrap') &gt; -1" ng-click="toggleSelection('Bootstrap')" type='checkbox' value='Bootstrap'>Bootstrap</input>
              </label>
            </div>
            <div class='checkbox'>
              <label>
                <input name='options[]' ng-checked="checked('Debt Financing') &gt; -1" ng-click="toggleSelection('Debt Financing')" type='checkbox' value='Debt Financing'>Debt Financing</input>
              </label>
            </div>
            <div class='checkbox'>
              <label>
                <input name='options[]' ng-checked="checked('Angels') &gt; -1" ng-click="toggleSelection('Angels')" type='checkbox' value='Angels'>Angels</input>
              </label>
            </div>
          </div>
        </form>
        <div class='content' ng-hide='idea.canEdit'>
          <p>
            <ul>
              <li ng-repeat='option in options'>{{ option }}</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
