.wrap
  .container
    %section#sign-in.row
      .register.col-lg-6
        %h1 Want to get involved in the startup community?

        %form(name="userForm" ng-submit="userForm.$valid && register()" novalidate)
          .form-group
            %input.form-control(type="text" ng-model="user.name" placeholder="Pick your display name" required)
          .form-group
            %input.form-control(type="email" name="email" ng-model="user.email" placeholder="Your preferred email address" unique-email required)
            %p.help-block.errorMessage(ng-show="userForm.email.$dirty && userForm.email.$error.uniqueEmail")
              Email already in use
          .form-group
            %input.form-control(type="password" ng-model="user.password" placeholder="Set a password with 8 characters minimum" ng-minlength="8" required)
          .form-group
            %input.form-control(type="password" name="passwordConfirmation" ng-model="user.passwordConfirmation" ng-minlength="8" compare-to="user.password" placeholder="Confirm your password" required)
            %p.help-block.errorMessage(ng-show="userForm.passwordConfirmation.$dirty && userForm.passwordConfirmation.$error.compareTo")
              Passwords do not match
          %button.btn.btn-primary(ng-disabled="!userForm.$valid" type="Submit") Sign Up

      .sign-in.col-lg-6
        %h1 Log in to the community

        .row
          .col-md-6.sl-social-login
            = link_to user_omniauth_authorize_path(:facebook), class: [:btn, 'sl-btn-facebook'] do
              %i.fa.fa-facebook
              Continue with Facebook
            = link_to user_omniauth_authorize_path(:twitter), class: [:btn, 'sl-btn-twitter'] do
              %i.fa.fa-twitter
              Continue with Twitter
            = link_to user_omniauth_authorize_path(:linkedin), class: [:btn, 'sl-btn-linkedin'] do
              %i.fa.fa-linkedin
              Continue with LinkedIn

          .col-md-6.sl-email-login
            %form(name="sessionForm" ng-submit="sessionForm.$valid && login()" novalidate)
              %div(ng-show="session.failed")
                Invalid Password
              / TODO: Validation
              .form-group
                %input#email.form-control(type="email" placeholder="Email address" ng-model="session.email" required)
              .form-group
                %input.form-control(type="password" placeholder="Password" ng-model="session.password" required)
              %button.btn.btn-primary(ng-disabled="!sessionForm.$valid" type="Submit") Login
