
#u645-4.clearfix.colelem
  %p Accept Invitation

  %form(name="userForm" ng-submit="userForm.$valid && register()" novalidate)
    .form-group
      %label Name
      %input.form-control(type="text" ng-model="user.name" required)
    .form-group
      %label Password
      %input.form-control(type="password" ng-model="user.password" ng-minlength="8" required)
    .form-group
      %label Password Confirmation
      %input.form-control(type="password" name="passwordConfirmation" ng-model="user.passwordConfirmation" ng-minlength="8" compare-to="user.password" required)
      %span.errorMessage(ng-show="userForm.passwordConfirmation.$dirty && userForm.passwordConfirmation.$error.compareTo")
        Passwords do not match
    %button.btn.btn-primary(ng-disabled="!userForm.$valid" type="Submit") Sign Up

