.wrap
  .container
    %section
      :markdown
        # Startup Lab – Disclaimers

        0. Startup Lab is owned and operated by Single Partners Pty Ltd ACN 608 278 593 (Company). Your use of Startup Lab is subject to these disclaimers.
        0. You acknowledge that by using Startup Lab, accessing any information, video, images and/or business ideas (Content) or making any Content available on Startup Lab, that you do so at your own risk.
        0. By making Content available via Startup Lab you warrant that:
          0. You have authority to provide Startup Lab with the Content;
          0. You grant the Company a perpetual, royalty free, worldwide licence to use the Content; and
          0. You indemnify the Company for any consequences of providing that Content;
        0. The Company will not be responsible for any Content you make available via Startup Lab whatsoever, including in relation (but not limited) to:
          0. Any visitor to Startup Lab infringing your intellectual property; and
          0. Any infringement of a third party’s intellectual property that you commit;
          0. Any factually incorrect claim.
        0. The Company makes no representation or warranty that:
          0. Startup Lab will be accessible on an ongoing basis, or at any particular time;
          0. The Content made available via Startup Lab is the intellectual property of the user that provided it.
          0. Any information provided by a user via Startup Lab is factually accurate.
        0. Your use of Startup Lab is subject to the Company’s discretion. The Company may restrict your access to Startup Lab at its sole discretion.
        0. The Company shall only use the personal information that you provide to the Company via Startup Lab, for the purpose that you provided it for (e.g. for creating and maintaining a user account).
        0. The Company shall not disclose any personal information to any third party without your consent.
