.wrap
  .container
    .row
      .col-lg-12
        %h1 Sharing '{{ idea.name }}'

    .row
      .col-lg-6(ng-if="idea.userIdeas.length == 0")
        %p
          This idea has not been shared with anyone yet.

      .col-lg-6(ng-if="idea.userIdeas.length > 0")
        %p
          This idea has been shared with the following people:
        %article.user_idea(ng-repeat='userIdea in idea.userIdeas')
          %sl-user-idea(ng-model="userIdea" idea="idea")

    .row
      .col-lg-6.user_idea.actions
        %hr
        %p
          If you'd like to share this idea with someone, enter their name &amp; email address below.

        %form(ng-submit="shareIdea()" name='newUserIdeaForm')
          %input.form-control.input-sm(ng-show="true" type="text"  ng-model="newUserIdea.name"  placeholder="Name"          required)
          %input.form-control.input-sm(ng-show="true" type="email" ng-model="newUserIdea.email" placeholder="Email address" required)
          %button.btn.btn-primary(type="submit" ng-disabled="processing") Invite another user
          or
          %a(ng-href="/#/ideas/{{ idea.id }}") go back


