#md-idea-problems.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4 Problems for {{ idea.name }}
      .modal-body

        %form.form-inline(ng-submit="addProblem(idea)")
          %ul
            %li(ng-repeat="problem in idea.problems")
              {{ problem.description }} {{ $index }}
              %a{'ng-click' => 'removeProblem($index)'} X

          .form-group
            %label Description
            %input.form-control(type="text" ng-model="problem.description")

          %button.btn.btn-default(type="Submit") Add
