%footer(class="footer")
  .container
    .link.left
      %a(sl-support-link="sl-support-link") Support
    .link.left
      %a(href="/#/disclaimer") Disclaimer
    .link.left
      %a(href="http://singlepartners.io/privacy") Privacy Policy
    .link.right
      &copy; Single Partners
      = Time.now.year

= javascript_include_tag 'application', 'data-turbolinks-track' => true
%script(src="//load.sumome.com/" data-sumo-site-id="31081e321994b0b40678372bb6ef10369e72119324aadabf24c2565b0170f29e"
 async="async")
