= javascript_include_tag 'application', 'data-turbolinks-track' => true

%footer(class="footer")
  .container
    .link.left
      %a(sl-support-link="sl-support-link") Support
    .link.left
      %a(href="/#/disclaimer") Disclaimer
    .link.left
      %a(href="http://singlepartners.io/privacy") Privacy Policy
    .link.right
      &copy; Single Partners 2015
